# Исключаем IDE-файлы
.idea/
*.iml

# Исключаем временные файлы и бэкапы
*~
*.swp
*.bak

# Исключаем системные файлы macOS/Windows
.DS_Store
Thumbs.db

# Исключаем артефакты сборки
target/
build/
out/

# Исключаем логи
*.log

# Исключаем загруженные архивы
*.tar.gz
