# Пример файла окружения
# Скопируйте этот файл как `.env` и заполните своими значениями
# Не добавляйте `.env` в репозиторий

DOCKERHUB_USERNAME=<ваш_логин>
DOCKERHUB_TOKEN=<ваш_токен>
DOCKER_IMAGE_NAME=<имя_образа>
DOCKER_IMAGE_TAG=<тег_образа>
DOCKER_BUILD_ARGS=<аргументы_сборки_если_нужны>